body
{
    margin:0;
    padding:0;
}
nav {
    background: #15161d;
    padding: 20px 0;
    color: #fff;
}
.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
}
.brand {
    display: flex;
    align-items: center;
}
.brand i {
    font-size: 2em;
    margin-right: 10px;
    color:#ff6f61;
}
.E-shop {
    font-size: 1.5em; 
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-family: system-ui;
    text-transform: uppercase;
}
.search-bar {
    display: flex;
    align-items: center;
}
.dropdown .btn {
    font-size: 1em;
    background:#ff6f61;
    border-radius: 5px 0 0 5px;
}
.user-input {
    padding: 5px 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 0;
    outline: none;
}
.search {
    background: #ff6f61;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search i {
    font-size: 1em;
}
#cartButton{
    background: #ff6f61;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}
.main
{
    display: flex;
    padding: 70px 0;
}
.main-content
{
    display: flex;
    gap: 10px;
}
.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.card-content {
    flex-grow: 1;
    padding: 20px;
}
.card-container {
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
.card img {
    max-width: 100%;
    height: auto;
}
.card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}
.card p {
    color: #666;
    font-size: 0.9em;
    margin: 10px 0;
}
.card .rating {
    font-size: 0.9em;
    color: #eb361696;
    margin: 10px 0;
}
.card .price {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}
.card button {
    background-color: #ff4c4c;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.card button:hover {
    background-color: #ff1c1c;
}
.loading,.error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
}
.error .alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 15px;
    border-radius: 5px;
  }